#textArea {
    width: 20%;
    height:10vh;
    display:block;
    margin:2rem;
    padding:1rem;
}
#textstyle1{
    font-size: larger;
}
#output{
    border:1px solid black;
    width: 50%;
    height: 10vh;
    padding:1rem;
    margin:2rem;

}